.buttons__container {
    display: flex;
    flex-wrap: wrap;
}

.buttons__button {
    border: none;
    background-color: transparent;
    color: gray;
    font-size: 17px;
    margin-left: 20px;
    cursor: pointer;
}

@media (max-width: 767px) {
    .buttons__button {
        flex-basis: 100%;
        margin: 10px;
    }
}

.buttons__button:hover {
    transition: color 1.5s;
    color: #cecccc;
}

.buttons:disabled {
    color: #d4d0d0;
}